:root {
    --footer-height: 40px;
    --opacity-fade-duration: 2s;
    --background-gradient-primary: linear-gradient(to top    left , red,    transparent),
                                   linear-gradient(to top    right, blue,   transparent),
                                   linear-gradient(to bottom left , green,  transparent),
                                   linear-gradient(to bottom right, purple, transparent);
    --background-gradient-secondary: var(--background-gradient-primary);
    --background-secondary-opacity: 1.0;
}

html,body,main {
    width: 100%;
    height: 100%;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    position: fixed;
    z-index: 10;
    margin: 0;
    inset: 0 0 auto 0;
}

body {
    background: black;
    margin: 0;
    padding: 0;
    margin-top: 80px;
    margin-bottom: var(--footer-height,40px);
}

footer {
    position: fixed;
    background-color: rgb(0, 0, 0);
    color: white;
    bottom: 0;
    left: 0;
    right: 0;
    height: var(--footer-height,40px);
    margin: 0;
    padding: 0 8px;
    display: flex;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.cover-container {
    background-blend-mode: screen;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

/* ↓↓ background styles below ↓↓ */
.background-placer {
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
}

/* fades out the background */
.opacity-fade {
    opacity: 0.0;
    transition-property: opacity;
    transition-duration: var(--opacity-fade-duration,2s);
    transition-timing-function: linear; /*this is because we want the background to be changing constantly and smoothly*/
}


.background-primary {
    z-index: -2;
    overflow: auto;
    opacity: 1.0;
    position: absolute;
    display: block;
    margin: 0;
    width: 100%;
    height: 100%;
    background-image: var(--background-gradient-primary, linear-gradient(to top    left , red,    transparent),
    linear-gradient(to top    right, blue,   transparent),
    linear-gradient(to bottom left , green,  transparent),
    linear-gradient(to bottom right, purple, transparent));
}

.background-secondary {
    z-index: -1;
    overflow: auto;
    opacity: var(--background-secondary-opacity,0.0);
    position: absolute;
    display: block;
    margin: 0;
    width: 100%;
    height: 100%;
    background-image: var(--background-gradient-secondary);
}
/* ↑↑ background styles above ↑↑ */

.cover {
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 8px;
    border: 4px solid rgb(0, 0, 0);
    border-radius: 8px;
    text-align: center;
    width: 200px;
    height: 300px;
    margin: 16px;
}

::-webkit-scrollbar {
    width: 0px;
}